<div id="TalkScene" class="scene-wrapper talk">
    <div class="palm-scene">
        <div class="palm-page-header multi-line">
            <div class="palm-page-header-wrapper">
                <div class="icon left favorite" id="favorite"></div>
                <div class="title" id="title" class="title"></div>
                <div class="subtitle right">
                    <span id="day"></span>
                    <span id="hours"></span>:<span id="minutes"></span>,
                    <span id="location"></span>
                    <span id="length"></span>
                </div>
            </div>
        </div>
        <div class="palm-body-text">
            <div id="description" class="palm-text"></div>
        </div>
        <div id="speakers" class="palm-group">
            <div class="palm-group-title">Speakers</div>
            <div class="palm-list" id="SpeakerList" x-mojo-element="List"></div>
        </div>
    </div>
</div>
