<div id="TalksScene" class="scene-wrapper">
    <div class="palm-scene">
        <div class="palm-scrim" id="refresh-scrim"><div id="refresh-spinner" x-mojo-element="Spinner"></div></div>
        <div class="palm-page-header multi-line">
            <div class="palm-page-header-wrapper">
                <div class="hope-icon"></div>
                <div class="activity-spinner" id="activity-spinner" x-mojo-element="Spinner"></div>
                <div class="title">Hackers on Planet Earth</div>
            </div>
        </div>

        <div class="palm-list" >
            <div id="TalksList" x-mojo-element="FilterList"></div>
        </div>
    </div>
</div>
