<div id="element_holder#{id}">
    <div id="element#{id}">
        <table id="separator#{id}" class="palm-divider labeled">
            <tr>
                <td class="left"></td>
                <td class="label">
                    #{day} #{hours}:#{minutes}
                </td>
                <td class="right"></td>
            </tr>
        </table>
        <div class="palm-row no-separator" x-mojo-element-touch-feedback="delayed" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div class="icon left favorite" id="#{widgetId}"></div>
                <div class="title">
                    <div class="truncating-text">#{-title}</div>
                    <div class="label right">#{location}</div>
                </div>
            </div>
        </div>
    </div>
</div>
