#mojo-scene-talks-scene-scroller {
    background: #e9e7ce;
}

#mojo-scene-talk-scene-scroller {
    background: #e9e7ce;
}

.palm-drawer-container {
    border-image: none;
	border-width: 0px;
    margin: 0px 15px 15px;
}

.palm-page-header-wrapper {
    background: #e47b5e;
}

#TalkScene .palm-page-header-wrapper {
    background: #c2c1aa;
}

#TalkScene .palm-drawer-contents {
    margin: 0px;
}

.activity-spinner {
    float: right;
    margin: 9px 3px;
}

.icon.hope {
    float: left;
    margin-left: 13px;
    height: 32px;
    width: 32px;
    background: url(../icon_32x32.png) center center no-repeat;
}

.icon.favorite {
    float: left;
    margin: 5px 3px;
    width: 40px;
    height: 40px;
    background: url(../images/fav_off.png) center center no-repeat;
}

.icon.favorite.is-favorite {
    background: url(../images/fav_on.png) center center no-repeat;
}

.subtitle.right {
    text-align: right;
}

#TalksScene .title {
    color: #214248;
}

#TalksScene .label.right {
    color: #67aab3;
}

#TalkScene .title {
    color: #8a2509;
}

#TalkScene .subtitle {
    color: #e47b5e;
}

